.App {
  text-align: center;
 

}

.App-logo {
  height: 19vmin;
  pointer-events: none;
}



.nav{
  background-color: rgba(229, 228, 212, 1);
}


Footer{
  background-color: rgba(108, 124, 92, 1);
  
}

.cards{
  background-color: rgba(229, 228, 212, 1);
}

